*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
    padding: 20px;
}

.container{
    width: clamp(200px, 85vw, 510px);
    aspect-ratio: 1 / 1;
    background: #08090e;
    border-radius: 50%;
    border: 1% solid #6a6d74;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.container .clock{
    width: 82.35%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock .number_hours,
.clock .seconds_bar{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.number_hours span{
    position: absolute;
    transform: rotate(calc(var(--index) * 30deg));
    inset: 2%;
    text-align: center;
}

.number_hours span p{
    font-size: clamp(18px, 8vw, 52px);
    color: #fff;
    transform: rotate(calc(var(--index) * -30deg));
}



.seconds_bar span{
    position: absolute;

    /* 360deg / 60 = 6deg */
    transform: rotate(calc(var(--index) * 6deg));
    inset: -4.5%;
    text-align: center;
}

.clock .seconds_bar span p{
    width: 0.7%;
    height: 2.8%;
    background: #4a4d53;
    display: inline-block;
    border-radius: 2px;
}

.clock .seconds_bar span:nth-child(5n) p{
    background: #fff;
    width: 1.2%;
    height: 4.3%;
    transform: translateY(1px);
}



.hands_box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hands_box .hand{
    position: absolute;
    display: flex;
    justify-content: center;
}



.hands_box .hour{
    width: 66.67%;
    aspect-ratio: 1 / 1;
}

.hands_box .hour i{
    width: 1.67%;
    height: 32.86%;
    background: #fff;
    position: absolute;
    border-radius: 2px;
}

.hands_box .hour i::after{
    content: "";
    position: absolute;
    height: 27.38%;
    width: 3.1%;
    bottom: 5.95%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    background: #fff;
}


.hands_box .minute{
    width: 90.48%;
    aspect-ratio: 1 / 1;
}

.hands_box .minute::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5.95%;
    height: 5.95%;
    background: #fff;
    border-radius: 50%;
}

.hands_box .minute i{
    width: 1.67%;
    height: 45.24%;
    background: #fff;
    position: absolute;
    border-radius: 2px;
}

.hands_box .minute i::before{
    content: "";
    width: 3.1%;
    height: 40.48%;
    background: #fff;
    position: absolute;
    bottom: 5.95%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}


.hands_box .second{
    width: 100%;
    aspect-ratio: 1 / 1;
}

.hands_box .second::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3.81%;
    height: 3.81%;
    background: #d5b617;
    border-radius: 50%;
}

.hands_box .second::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.9%;
    height: 1.9%;
    background: #08090e;
    border-radius: 50%;
}


.hands_box .second i{
    width: 0.95%;
    height: 50%;
    background: #d5b617;
    position: relative;
    border-radius: 2px;
}

.hands_box .second i::before{
    content: '';
    width: 2.38%;
    height: 8.33%;
    background: #d5b617;
    position: absolute;
    bottom: -0.95%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}